@font-face {
    font-family: 'ASTERA';
    src: url('../fonts/ASTERA.woff2') format('woff2'),
        url('../fonts/ASTERA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background: url(/assets/background.webp) fixed;
    background-position: center;
    background-size: cover;
    color: rgb(200, 200, 200);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h1 {
    font-size: 3em;
    font-family: ASTERA, serif;
    color: rgb(212, 126, 27);
}

h2 {
    order: 1;
    font-size: 1.5em;
    font-family: ASTERA, serif;
    color: #fff;
    font-style: italic;
}

h3 {
    font-family: ASTERA, serif;
    color: rgb(167, 116, 7);
}


[role="banner"] {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main h3 {
    font-size: 2em;
    text-align: center;
}

a {
    color:#fff;
}

a:hover {
    background-color: #fff ;
    color: #000;
}

a:visited {
    color: #f64a51;
}

.page-wrapper {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.intro {
    width: 70%;
    background-size: 10%;
    background: url(/assets/insert.webp) no-repeat bottom center;
    background-size: 70%;
}

.sidebar {
    width: 25%;
    order: -1;
    margin: auto;

}

.wrapper div {
    border: 1px solid #000;
    margin: 15px;
    background: rgba(153, 72, 72, 0.082);
}

.wrapper div a {
    text-decoration: none;
}

.wrapper div a:hover {
    color: #000;
    background-color: white;
}

.wrapper div ul {
    list-style: none;
    padding: 5px;
}

.wrapper div ul li {
    background: url(../star.svg) no-repeat left bottom;
    background-size: 15px;
    height: 20px;
    padding-left: 20px;
    padding-top: 5px;
}

.wrapper h3 {
    font-weight: 100;
    font-size: 2em;
    color: rgb(167, 116, 7);
    padding-left: 3%;
}


.main {
    margin: auto;
    align-self: flex-end;
}

.main div {
    width: 80%;
    margin: auto;
    padding: 1em 0;
}

*[role="contentinfo"] {
    padding-top: 1em;
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: rgb(167, 116, 7);
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px dashed rgb(212, 151, 17);
    border-radius: 50%;
    padding: 0.7em;
    background-color: #142339;
}

footer a:hover {
    color:#142339;
    border-color:#142339;
    background-color: rgb(167, 116, 7);
}